.row
    .col-md-12
        .thumbnail
            %div{ id: "order_map", style: 'height: 200px;', class: '' }

// Google Maps
= javascript_include_tag '//maps.google.com/maps/api/js?v=3.23&sensor=false&client=&key=&libraries=geometry&language=&hl=&region='
= javascript_include_tag '//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js'


:javascript
    $(document).on('ready page:load', function () {
        handler = Gmaps.build('Google');
        handler.buildMap({
            provider: {
              // pass in other Google Maps API options here
              streetViewControl: false,
              mapTypeControl: false,
              zoom: 0
            },
            internal: {
              id: 'order_map'
            }
        },
        
            function(){
                markers = handler.addMarkers(#{raw @marker.to_json });
                
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
            }
        ); // end build map
    }); // End document on ready