.row
    .col-md-12
        %table.table.table-responsive.table-striped.table-hover
            %thead
                %tr
                    %th Product ID
                    %th Unit Price
                    %th Stock Qty.
                    %th
            %tbody
                - @products.each do |product|
                    %tr
                        %td= link_to product.product_id, product
                        %td
                            L.
                            = product.unit_price
                        %td
                        %td
                            .btn-group
    