%nav.navbar.navbar-default.navbar-static-top{role: "navigation"}
    / Brand and toggle get grouped for better mobile display
    .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav
            
            
        %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
                %li
                    = link_to current_user do
                        %i.fa.fa-user.fa-2x
                %li
                    = link_to edit_user_registration_path do
                        %i.fa.fa-cog.fa-2x
                %li
                    = link_to logout_path, method: :delete do
                        %i.fa.fa-sign-out.fa-2x
                
          
    / /.navbar-collapse
